<div class="success">
  <%= flash[:notice] %>
</div>

<p class="show-title"><b>Title: </b><%= @book.title %></p>
<p class="show-body"><b>Body: </b><%= @book.body%></p>

<div class="link-area">
<%= link_to "Edit", edit_book_path, method: :get, class: "link" %><p>|</p><%= link_to "Back", books_path, method: :get, class: "link" %>
</div>
